{include file="public/header" /}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
			<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							   <h1 class="page-head-line">德拉斐尔官网后台</h1>
						</div>
					</div>
																				<!-- /. ROW  -->
					<div class="row">
							<div class="col-md-12">
								     <div >
											<div class="row pad-top-botm ">
													<div class="col-lg-6 col-md-6 col-sm-6">
																			
																			   <strong>公司信息</strong>
																			  <br />
																				  <i>地址 :</i> 天河区天河路365号天俊阁
																			  <br />
																				  广东省广州市
																			  <br />
																				  中国
																			  
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 ">
														<img src="static/assets/img/drafe.jpg" style="padding-bottom:20px;" /> 
													</div>
											</div>
											<div  class="row text-left contact-info">
																		 <div class="col-lg-12 col-md-12 col-sm-12">
																			 <hr />
																			 <span>
																				 <strong>邮箱 : </strong>  info@yourdomain.com 
																			 </span>
																			 <span>
																				 <strong>电话 : </strong>  +95 - 890- 789- 9087 
																			 </span>
																			  <span>
																				 <strong>传真 : </strong>  +012340-908- 890 
																			 </span>
																			 <hr />
																		 </div>
										   </div>
										   <div  class="row pad-top-botm client-info">
																		 <div class="col-lg-6 col-md-6 col-sm-6">
																		 <h4>  <strong>负责人信息</strong></h4>
																		   <strong>  王静俊</strong>
																			 <br />
																				  <b>住址 :</b> 145/908 , New York Lane,
																			  <br />
																				中国
																			 <br />
																			 <b>电话 :</b> +90-908-567-0987
																			  <br />
																			 <b>邮箱 :</b> info@clientdomain.com
																		 </div>
											</div>
									 </div>
						   </div>
					</div>
		       </div>
								<!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
   {include file="public/footer" /}