<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商品搜索</title>
	<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/pro_search.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/style.js"></script>
</head>
<body onload="focus()">
	<!--头部-->
	<header class="header">
		<a href="javascript:window.history.back()"><img src="__PUBLIC__/images/icon19.png" alt="icon"></a>
		<div>
			<form action="#">
				<label for="#">
					<input type="text" placeholder="请输入商品名称" id="focus">
					<button></button>
				</label>
			</form>
		</div>
		<span>搜索</span>
	</header>
	<!--头部 end-->
	<!--中间内容部分-->
	<article class="content">
		<!-- 热点搜索 -->
		<section class="hot">
			<h2>热点搜索</h2>
			<ul>
				<li><a href="pro_list.html">环绕音响</a></li>
				<li><a href="pro_list.html">蓝牙播放器</a></li>
				<li><a href="pro_list.html">前端3A功放</a></li>
				<li><a href="pro_list.html">前端放大器</a></li>
			</ul>
		</section>
		<!-- 热点搜索 end -->
		<!-- 您的足迹 -->
		<section class="footprint">
			<h2>您的足迹</h2>
			<ul>
				<li><a href="pro_list.html">蓝牙耳机</a></li>
				<li><a href="pro_list.html">环绕音响</a></li>
				<li><a href="pro_list.html">前端功放</a></li>
				<li><a href="pro_list.html">3A放大器</a></li>
			</ul>
			<div><span>清除足迹</span></div>
		</section>
		<!-- 您的足迹 end -->
	</article>
	<!--中间内容部分 end-->
</body>
</html>