{include file="public/header" /}
<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">{$name}</h1>

                    </div>
                </div>
                <!-- /. ROW  -->
				<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						      <div class="panel panel-info">
									<div class="panel-heading">
									   {$title}
									</div>
									<div class="panel-body">
										<form role="form" action="" method="post" enctype="multipart/form-data" >
										<input type="hidden" name="id" value="{$rs.id}"/>
										    {:inputTag("属性名","attrname",$rs.attrname)}
											{:radioTag("属性类型","attrtype",$attrtype,$rs.attrtype)}
											{:radioTag("是否赠品","is_filt",$is_true,$rs.is_filt)}
											 		 
									    <button type="submit" class="btn btn-info">添加</button>

										</form>
									</div>
							   </div>
						 </div>
			
			     </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	{include file="public/footer" /}