{include file="public/header" /} 
 <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">{$name}</h1>

                    </div>
                </div>
                <!-- /. ROW  -->
				<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						      <div class="panel panel-info">
									<div class="panel-heading">
									   {$title}
									</div>
									<div class="panel-body">
										<form role="form" action="" method="post">
											<div class="form-group">
												<input class="form-control" type="hidden" name="id"value='{$rs.id}'/>
											</div>
											{neq name='rs.group_id' value='1'}
											<div class="form-group">
												<label>所属权限</label>
														<select class="form-control" name="group_id">
														    <option>..请选择...</option>
															{volist name='group' id='v' key='k'}
															<option {eq name='rs.group_id' value='$v.id'}selected{/eq} value="{$v.id}">{$v.namestr}</option>
															{/volist}
														</select>
											</div>
											{else/}
											<div class="form-group">
												<label>所属权限:</label>超级管理员
											</div>
											{/neq}
											<div class="form-group">
														<label>管理员</label>
														<?php echo $rs['count_name'];?>							
											</div>
											 <div class="form-group">
														<label>密码</label>
														<input class="form-control" type="password" name="password" value=""/>
														<p class="help-block">如果不需要修改密码请留空</p>
											 </div>	
											 <div class="form-group">
														<label>姓名</label>
														<input class="form-control" type="text" name="rel_name" value="{$rs.rel_name}"/>
											 </div>
											 <div class="form-group">
														<label>性别</label>
														<input type="radio" name="sex" value="0" {eq name="$rs.sex" value="0"}checked=checked{/eq} />男
                                                        <input type="radio" name="sex" value="1" {eq name="$rs.sex" value="1"}checked=checked{/eq} />女
											 </div>		
											 <div class="form-group">
														<label>qq</label>
														<input class="form-control" type="text" name="qq" value="{$rs.qq}"/>
														<p class="help-block">qq不能少于5位</p>														
											 </div>	
											 <div class="form-group">
														<label>邮箱</label>
														<input class="form-control" type="text" name="email" value="{$rs.email}" />
														<p class="help-block">邮箱的标准格式是 xx@xx.xx</p>
											 </div>	
											 <div class="form-group">
														<label>住址</label>
														<input class="form-control" type="text" name="address" value="{$rs.address}"/>
														 <p class="help-block">电话号码不能少于11位</p>														
											 </div>		
											 <div class="form-group">
														<label>电话号码</label>
														<input class="form-control" type="text" name="phone" value="{$rs.phone}"/>
														 <p class="help-block">电话号码不能少于11位</p>														
											 </div>			 
											 <div class="form-group">
														<label>创建时间</label>
														{$rs.ctime}
											 </div>
                                        <hr>											
									    <button type="submit" class="btn btn-info">提交更新 </button>

										</form>
									</div>
							   </div>
						 </div>
			
			     </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	{include file="public/footer" /}