<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>确认订单</title>
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/order.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<!--头部-->
	<header class="header">
		<a href="javascript:window.history.back()"><img src="images/icon25.png" alt="icon"></a>
		<h2>确认订单</h2>
	</header>
	<!--头部 end-->
	<!--中间内容部分-->
	<article class="content">
		<!--确认订单-->
		<section class="order">
			<div>
				<h3>收货地址</h3>
				<p><span>收件人：</span><i>飞机头</i></p>
				<p><span>手机号：</span><i>15724575458</i></p>
				<p><span>地&nbsp;&nbsp;&nbsp;址：</span><i>湖北省黄冈市武穴市.......</i></p>
				<a href="javascript:void(0);">...</a>
			</div>
			<ul>
				<li>
					<a href="pro_details.html"><img src="images/img15.png" alt="img"></a>
					<div>
						<h2><a href="pro_details.html">H1便携耳放</a></h2>
						<p><span>输入灵敏度：</span><em>520mV/47KΩ(低增益)</em></p>
						<span>×1</span>
					</div>
					<div><em>¥:</em><em>46.00</em><b>运费：包邮</b></div>
				</li>
				<li>
					<a href="pro_details.html"><img src="images/img15.png" alt="img"></a>
					<div>
						<h2><a href="pro_details.html">H1便携耳放</a></h2>
						<p><span>输入灵敏度：</span><em>520mV/47KΩ(低增益)</em></p>
						<span>×1</span>
					</div>
					<div><em>¥:</em><em>46.00</em><b>运费：包邮</b></div>
				</li>
			</ul>
			<form action="pay.html">
				<textarea placeholder="给卖家留言..."></textarea>
				<p><span>共计<em>2</em>件</span><span>优惠：无</span><i>¥:</i><i>92.00</i></p>
				<div>
					<span>总价：<em>92.00元</em></span>
					<button>提  交</button>
				</div>
			</form>
		</section>
		<!--确认订单 end-->
	</article>
	<!--中间内容部分 end-->
</body>
</html>