<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>支付</title>
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/pay.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/style.js"></script>
</head>
<body>
	<!--头部-->
	<header class="header">
		<a href="javascript:window.history.back()"><img src="images/icon25.png" alt="icon"></a>
		<h2>支付</h2>
	</header>
	<!--头部 end-->
	<!--中间内容部分-->
	<article class="content">
		<!--支付-->
		<section class="pay">
			<div class="news">
				<h3>订单信息</h3>
				<p><span>应付金额：</span><em>¥:92.00</em></p>
				<p><span>下单时间：</span><i>2017.6.18</i><i>20:18</i></p>
				<p><span>收件姓名：</span><i>飞机头</i></p>
				<p><span>手机号码：</span><i>15724575458</i></p>
				<p><span>详细地址：</span><i>湖北省黄冈市武穴市.......</i></p>
			</div>
			<div class="way">
				<h3>支付方式</h3>
				<ul>
					<li><img src="images/icon28.png" alt="icon"><span>微信支付</span><em class="on"></em></li>
					<li><img src="images/icon29.png" alt="icon"><span>支付宝支付</span><em></em></li>
				</ul>
				<div>
					<span><em></em>其他支付方式</span>
					<ul>
						<li><img src="images/icon29.png" alt="icon"><span>支付宝支付</span><em></em></li>
						<li><img src="images/icon29.png" alt="icon"><span>支付宝支付</span><em></em></li>
						<li><img src="images/icon29.png" alt="icon"><span>支付宝支付</span><em></em></li>
					</ul>
				</div>
				<a href="javascript:void(0);" class="now">立即支付</a>
			</div>
		</section>
		<!--支付 end-->
	</article>
	<!--中间内容部分 end-->
</body>
</html>