<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>支付失败</title>
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/pay_failure.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<!--头部-->
	<header class="header">
		<a href="javascript:window.history.back()"><img src="images/icon19.png" alt="icon"></a>
		<h2>支付失败</h2>
	</header>
	<!--头部 end-->
	<!--中间内容部分-->
	<article class="content">
		<!--支付成功-->
		<section class="pay_success">
			<div>
				<h3>很遗憾！您的订单支付失败</h3>
				<img src="images/pay_failure.png" alt="pay_failure">
			</div>
			<a href="order.html">订单详情</a>
			<a href="pay.html">重新支付</a>
		</section>
		<!--支付成功 end-->
	</article>
	<!--中间内容部分 end-->
</body>
</html>