<include file="Public/header" />
	<link rel="stylesheet" href="__PUBLIC__/css/homepage.css"/>
	<!--中间内容部分-->
	<article class="content">
		<!--banner-->
		<section class="banList">
			<ul>
				<li><a href="javascript:void(0);"><img src="__PUBLIC__/images/banner-1.jpg" alt="banner"></a></li>
				<li><a href="javascript:void(0);"><img src="__PUBLIC__/images/banner-2.jpg" alt="banner"></a></li>
				<li><a href="javascript:void(0);"><img src="__PUBLIC__/images/banner-3.jpg" alt="banner"></a></li>
			</ul>
			<!--小圆点-->
			<ol class="circle">
				<li class="on"></li>
				<li></li>
				<li></li>
			</ol>
			<!--小圆点 end-->
		</section>
		<!--banner end-->
		<!--导航-->
                      <nav class="nav">
            <ul>
                <li>
                    <a href="#">
                    	<img src="__PUBLIC__/images/icon6.png" alt="icon">
						<span>热卖单品</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    	<img src="__PUBLIC__/images/icon7.png" alt="icon">
						<span>最新商品</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    	<img src="__PUBLIC__/images/icon8.png" alt="icon">
						<span>优惠商品</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    	<img src="__PUBLIC__/images/icon9.png" alt="icon">
						<span>限时特卖</span>
                    </a>
                </li>
                <li>
                    <a href="pro_sort.html">
                    	<img src="__PUBLIC__/images/icon10.png" alt="icon">
						<span>全部分类</span>
                    </a>
                </li>
            </ul>
                      </nav>
		<!--内容-->
		<!--商品-->
		<section class="goods clear">
			<ul>
				<!--限时抢购-->
				<li>
					<h2><a href="pro_details.html">限时抢购</a></h2>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img1.png" alt="img"></a>
					<h3><a href="pro_details.html">蓝牙音乐播放器</a></h3>
					<h3><a href="pro_details.html">音乐，不一样的享受</a></h3>
					<p><a href="pro_details.html">蓝牙360环绕音乐</a></p>
					<p><a href="pro_details.html">9折限时抢购</a></p>
					<div>
						<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
					</div>
				</li>
				<!--新品首发-->
				<li>
					<h2><a href="pro_details.html">新品首发</a></h2>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img2.png" alt="img"></a>
				</li>
				<!--天天特价-->
				<li>
					<h2><a href="pro_details.html">天天特价</a></h2>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img3.png" alt="img"></a>
				</li>
				<!--爆款产品-->
				<li>
					<h2><a href="pro_details.html">爆款产品</a></h2>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img4.png" alt="img"></a>
					<div>
						<h3><a href="pro_details.html">蓝牙音乐播放器</a></h3>
						<h3><a href="pro_details.html">音乐，不一样的享受</a></h3>
						<p><a href="pro_details.html">蓝牙360环绕音乐</a></p>
						<p><a href="pro_details.html">9折限时抢购</a></p>
						<div>
							<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
						</div>
					</div>
				</li>
			</ul>
		</section>
		<!--商品 end-->
		<!--最新商品-->
		<section class="news_goods clear">
			<h2><img src="__PUBLIC__/images/icon12.png" alt="icon">最新商品<img src="__PUBLIC__/images/icon13.png" alt="icon"></h2>
			<div class="left">
				<ul>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img5.png" alt="img"></a>
						<div>
							<h3><a href="pro_details.html">H18前端功放</a></h3>
							<h3><a href="pro_details.html">至尊发烧级限量版</a></h3>
							<p><span>优</span><span>响</span><span>清</span></p>
							<a href="javascript:void(0);" onclick="goLogin()">立即抢购</a>
						</div>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img5.png" alt="img"></a>
						<div>
							<h3><a href="pro_details.html">H18前端功放</a></h3>
							<h3><a href="pro_details.html">至尊发烧级限量版</a></h3>
							<p><span>优</span><span>响</span><span>清</span></p>
							<a href="javascript:void(0);" onclick="goLogin()">立即抢购</a>
						</div>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img5.png" alt="img"></a>
						<div>
							<h3><a href="pro_details.html">H18前端功放</a></h3>
							<h3><a href="pro_details.html">至尊发烧级限量版</a></h3>
							<p><span>优</span><span>响</span><span>清</span></p>
							<a href="javascript:void(0);" onclick="goLogin()">立即抢购</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="right">
				<ul>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img6.png" alt="img"></a>
						<h3><a href="pro_details.html">P600前级放大器</a></h3>
						<h3><a href="pro_details.html">让你体验前所未有的感觉</a></h3>
						<a href="javascript:void(0);"><span>疯抢价：</span><em>￥</em><em>36</em><em>.00</em></a>
						<a href="javascript:void(0);" onclick="goLogin()">立即抢购</a>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img7.png" alt="img"></a>
						<h3><a href="pro_details.html">P600前级放大器</a></h3>
						<h3><a href="pro_details.html">让你体验前所未有的感觉</a></h3>
						<a href="javascript:void(0);"><span>疯抢价：</span><em>￥</em><em>36</em><em>.00</em></a>
						<a href="javascript:void(0);" onclick="goLogin()">立即抢购</a>
					</li>
				</ul>
			</div>
		</section>
		<!--最新商品 end-->
		<!--热卖单品-->
		<section class="hot_item clear">
			<h2><img src="__PUBLIC__/images/icon12.png" alt="icon">热卖单品<img src="__PUBLIC__/images/icon13.png" alt="icon"></h2>
			<!--左边-->
			<div class="left">
				<ul>
					<li class="top clear">
						<a href="pro_details.html"><img src="__PUBLIC__/images/img1.png" alt="img"></a>
						<div>
							<h3><a href="pro_details.html">蓝牙音乐播放器</a></h3>
							<h3><a href="pro_details.html">音乐，不一样的享受</a></h3>
							<p><a href="pro_details.html">蓝牙360环绕音乐</a></p>
							<p><a href="pro_details.html">9折限时抢购</a></p>
							<div>
								<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
							</div>
						</div>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img9.png" alt="img"></a>
						<h3><a href="pro_details.html">蓝牙音乐播放器</a></h3>
						<h3><a href="pro_details.html">音乐，不一样的享受</a></h3>
						<p><a href="pro_details.html">蓝牙360环绕音乐</a></p>
						<p><a href="pro_details.html">9折限时抢购</a></p>
						<div>
							<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
						</div>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img10.png" alt="img"></a>
						<h3><a href="pro_details.html">蓝牙音乐播放器</a></h3>
						<h3><a href="pro_details.html">音乐，不一样的享受</a></h3>
						<p><a href="pro_details.html">蓝牙360环绕音乐</a></p>
						<p><a href="pro_details.html">9折限时抢购</a></p>
						<div>
							<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
						</div>
					</li>
				</ul>
			</div>
			<!--右边-->
			<div class="right">
				<ul>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img8.png" alt="img"></a>
						<h3><a href="pro_details.html">便携式蓝牙音乐播放器</a></h3>
						<div>
							<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
						</div>
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__/images/img11.png" alt="img"></a>
						<h3><a href="pro_details.html">便携式蓝牙音乐播放器</a></h3>
						<div>
							<a href="javascript:void(0);"><em>￥</em><em>69</em><em>/</em><span onclick="goLogin()">抢购</span></a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!--热卖单品 end-->
		<!--推荐商品-->
		<section class="reco_goods clear">
			<h2><img src="__PUBLIC__/images/icon12.png" alt="icon">推荐商品<img src="__PUBLIC__/images/icon13.png" alt="icon"></h2>
			<ul>
				<li>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img12.png" alt="img"></a>
					<h6><a href="pro_details.html">M5 DAP 播放器</a></h6>
					<h5><a href="pro_details.html">3”ISP高清分辨率显示屏</a></h5>
					<h4><a href="pro_details.html"><em>出色音质</em> , <span>非凡品质</span></a></h4>
					<p>EXCELLENT SOUND , EXTRAORDINARY </p>
					<div>
						<em><a href="javascript:void(0);" onclick="goLogin()">抢购</a></em>
						<span><a href="javascript:void(0);">￥99</a></span>
					</div>
				</li>
				<li>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img13.png" alt="img"></a>
					<h6><a href="pro_details.html">M5 DAP 播放器</a></h6>
					<h5><a href="pro_details.html">3”ISP高清分辨率显示屏</a></h5>
					<h4><a href="pro_details.html"><em>出色音质</em> , <span>非凡品质</span></a></h4>
					<p>EXCELLENT SOUND , EXTRAORDINARY </p>
					<div>
						<em><a href="javascript:void(0);" onclick="goLogin()">抢购</a></em>
						<span><a href="javascript:void(0);">￥99</a></span>
					</div>
				</li>
				<li>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img12.png" alt="img"></a>
					<h6><a href="pro_details.html">M5 DAP 播放器</a></h6>
					<h5><a href="pro_details.html">3”ISP高清分辨率显示屏</a></h5>
					<h4><a href="pro_details.html"><em>出色音质</em> , <span>非凡品质</span></a></h4>
					<p>EXCELLENT SOUND , EXTRAORDINARY </p>
					<div>
						<em><a href="javascript:void(0);" onclick="goLogin()">抢购</a></em>
						<span><a href="javascript:void(0);">￥99</a></span>
					</div>
				</li>
				<li>
					<a href="pro_details.html"><img src="__PUBLIC__/images/img13.png" alt="img"></a>
					<h6><a href="pro_details.html">M5 DAP 播放器</a></h6>
					<h5><a href="pro_details.html">3”ISP高清分辨率显示屏</a></h5>
					<h4><a href="pro_details.html"><em>出色音质</em> , <span>非凡品质</span></a></h4>
					<p>EXCELLENT SOUND , EXTRAORDINARY </p>
					<div>
						<em><a href="javascript:void(0);" onclick="goLogin()">抢购</a></em>
						<span><a href="javascript:void(0);">￥99</a></span>
					</div>
				</li>
			</ul>
		</section>
		<!--推荐商品 end-->
	</article>
	<!--中间内容部分 end-->
	<include file="Public/footer" />