{include file="public/header" /}
<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">产品中心</h1>

                    </div>
            </div>
                <!-- /. ROW  -->
			 <form role="form" action="" method="post" enctype="multipart/form-data" />
				<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
						      <div class="panel panel-info">
									<div class="panel-heading">
									   {$title}
									</div>
									<div class="panel-body">
										
										    {:inputTag("产品名称","pro_name")}
										    {:inputTag("本店价","shop_price",$value)}
										    {:inputTag("市场价","market_price",$value)}
										    {:inputTag("优惠价","recommand_price",$value)}
										    {:inputTag("优惠开始时间","recommand_start")}
										    {:inputTag("优惠结束时间","recommand_end")}
											{:textareaTag("商品简介","description")}
											{:radioTag('上架状态:','gtype',$gtype)}
											{:radioTag('是否新品:','is_new',$is_true)}
											{:radioTag('是否精品:','is_good',$is_true)}
											{:radioTag('是否热品:','is_hot',$is_true)} 
											{:expressSelect()}	
											{:textareaTag('商品内容','content')}
									</div>
							   </div>
						 </div>
			
						<div class="col-md-6 col-sm-6 col-xs-12">
						      <div class="panel panel-info">
									<div class="panel-heading">
									   {$title}
									</div>
									<div class="panel-body">
											{:uploadTag('产品图片','pro_photo')}
											{:uploadTag('细节图1','photo_detail[]')}
											{:uploadTag('细节图2','photo_detail[]')}
											{:uploadTag('细节图3','photo_detail[]')}
											{:uploadTag('细节图4','photo_detail[]')}
											{:uploadTag('细节图5','photo_detail[]')}
											{:brandSelect()} 
									</div>
							   </div>
						 </div>
						<div class="col-md-6 col-sm-6 col-xs-12">
						      <div class="panel panel-info">
									<div class="panel-heading">
									   请填写产品属性
									</div>
									<div class="panel-body">
											{:categorySelect("product")}	
											<div id="attrArea"></div>
											
									</div>
							   </div>
						 </div>
						 <button type="submit" class="btn btn-info">添加产品 </button>
			
			     </div>
				</form>
           </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

	{include file="public/footer" /}